<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
        crossOrigin="anonymous"
      />
    <link rel="stylesheet" href="../css/style.css"> 
    <script src="/js/main.js"
    ></script>     
</head>
<body>
  <class class="container"></class>
    <form class="login-form" autocomplete="off" action="#">
        <input type="text" name="acount" placeholder="User Name" id="account"/>
        <div class="input-icon">
          <input type="password" name="account" placeholder="Password" id="password"/>
          <i class="fa fa-eye show-password"></i>
        </div>
        <a href="#" class="forgot">Forgot password?</a>
        <button onclick="Validate()">Sign in</button>
      </form>
</body>
</html>